# Ignore venv folder
venv/

# Ignore pipenv virtual environment
Pipfile
Pipfile.lock

# Ignore macOS system files
.DS_Store

# Ignore editor/IDE files
.vscode/
.idea/
*.pyc

# Ignore log files
*.log

# Ignore environment-specific files
.env
.env.*

# Ignore SQLite database file
*.sqlite3

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore system-specific files
*.swp
Thumbs.db
