/* forms.css */
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.btn-submit {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 15px 20px; /* Some padding */
    border: none; /* Remove borders */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer/hand icon */
    font-size: 16px; /* Increase font size */
}

.btn-submit:hover {
    background-color: #45a049; /* Darker green */
}