<!-- templates/news/empty_view.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empty View</title>
</head>
<body>
    <h1>This is an empty view</h1>
    <p>सर्पदंश उपचार केन्द्र स्थापनामा भ्रष्टाचार, मधेशका तत्कालीन मन्त्रीसहित ५ जना दोषी ठहर
        सर्पदंश उपचार केन्द्र स्थापनार्थ राज्यको ढुकुटीबाट रकम खर्च हुने गरी पूर्वप्रधानमन्त्री तथा नेकपा एकीकृत समाजवादीका नेता झलनाथ खनालका नाममा खोलिएको प्रतिष्ठानको बजेट हिनामिना गरेको अभियोगमा मधेश सरकारका तत्कालीन मन्त्री विजय कुमारसहित ५ जना दोषी ठहर भएका छन् ।
        
        संग्रह
        सेयर</p>
    
</body>
</html>
